
      body {
        background-color: beige;
        font-family: 'Times New Roman', Times, serif;
        width: 400px;
      }

      label {
        font-weight:bolder;
      }

      div {
        padding-bottom: 20px;
      }

      input[type="text"] {
        padding: 5px;
        width: 150px;
      }

      p {
        text-align: center;
        justify-content: center;
        background: #a7ffff;
        color: #5e2612;
        padding: 10px;
        visibility: hidden;
        border: 3px solid rgb(0, 0, 0); 
      }
